%h1 Customer Listings 

%table
  %tr
    %th Name
    %th Address
    %th City
    %th State
    %th Vehicle
    %th
    %th
    %th

  - @customers.each do |customer|
    %tr
      %td= customer.name
      %td= customer.address
      %td= customer.city
      %td= customer.state
      %td= customer.vehicle_id
      %td= link_to 'Show', customer, :class => 'small button'
      %td= link_to 'Edit', edit_customer_path(customer), :class => 'small button'
      %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'small alert button'

%br

= link_to 'New Customer', new_customer_path, :class => 'medium success button'
