= form_for @vehicle, multipart: true do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
      %ul
        - @vehicle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :stock_num
    = f.number_field :stock_num
  .field
    = f.label :vin
    = f.text_field :vin
  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :make
    = f.text_field :make
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :price
    = f.number_field :price
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :photo
    = f.file_field :photo
  .actions
    = f.submit 'Save'
