%h1 List of Vehicles

%table
  %tr
    %th Stock Number
    %th VIN
    %th Year
    %th Make
    %th Model
    %th Price
    %th Status
    %th
    %th
    %th

  - @vehicles.each do |vehicle|
    %tr
      %td= vehicle.stock_num
      %td= vehicle.vin
      %td= vehicle.year
      %td= vehicle.make
      %td= vehicle.model
      %td= vehicle.price
      %td= vehicle.status
      %td= link_to 'Show', vehicle, :class => 'small button' 
      %td= link_to 'Edit', edit_vehicle_path(vehicle), :class => 'small button' 
      %td= link_to 'Destroy', vehicle, :method => :delete,
        :data => { :confirm => 'Are you sure?' }, :class => 'small alert button'

%br

= link_to 'New Vehicle', new_vehicle_path, :class => 'medium success button'
