.row
  %p#notice= notice

.row
  .six.columns
    %h3 Vehicle Info
    %p
      %b Stock num:
      = @vehicle.stock_num
    %p
      %b Vin:
      = @vehicle.vin
    %p
      %b Year:
      = @vehicle.year
    %p
      %b Make:
      = @vehicle.make
    %p
      %b Model:
      = @vehicle.model
    %p
      %b Price:
      = @vehicle.price
    %p
      %b Status:
      = @vehicle.status
  .six.columns
    %h3 Vehicle Options
    -@options.each do |option|
      %p
        %b Name:
        =link_to "#{option.name}", vehicle_option_path(option)
      %p
        =option.description
    =link_to "New Option", new_vehicle_option_path(:vehicle_id => @vehicle),
      :class => 'small button'

.row
  %p
    =image_tag(@vehicle.photo_url)

.row
  .five.columns
    = link_to 'Edit', edit_vehicle_path(@vehicle), 
      :class => 'small button'
    \|
    = link_to 'Back', vehicles_path,
      :class => 'small button'
