.row
  %p#notice= notice

.row
  .six.columns
    %h3 Vehicle Info
    %p
      %b Stock num:
      = @vehicle.stock_num
    %p
      %b Vin:
      = @vehicle.vin
    %p
      %b Year:
      = @vehicle.year
    %p
      %b Make:
      = @vehicle.make
    %p
      %b Model:
      = @vehicle.model
    %p
      %b Price:
      = number_to_currency(@vehicle.price)
    %p
      %b Status:
      = @vehicle.status
    - if @vehicle.status != "Owned"
      %p 
        %b Owned By:
        =@vehicle.customer.name
  .six.columns
    %h3 Vehicle Options
    -@options.each do |option|
      %p
        %b Name:
        =link_to "#{option.name}", vehicle_option_path(option)
      %p
        =option.description
    =link_to "New Option", new_vehicle_option_path(:vehicle_id => @vehicle),
      :class => 'small button'

.row
  %p
    =image_tag(@vehicle.photo_url)

.row
  .five.columns
    = link_to 'Edit', edit_vehicle_path(@vehicle), 
      :class => 'small button'
    \|
    = link_to 'Back', vehicles_path,
      :class => 'small button'

.row
  .six.columns
    %h3
      =@header
    =form_tag exchange_vehicle_path do
      =select_tag :person, 
        options_from_collection_for_select(@customers, "id", "name"), :include_blank => true
      =submit_tag @button,
        :class => 'small button secondary'
      
